<% include partials/header %>

<!-- Cabeçalho do Site -->
<div id="stage">
	<div id="stage-caption">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-3">Chamada para o público</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="" class="btn btn-lg btn-primary btn-custom-ch">saiba mais</a>
			</div>
		</div>
	</div>
</div>

<!-- About Section -->
<div id="about">
	<div id="about-content">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-3">Sobre mim</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="" class="btn btn-lg btn-primary btn-custom-ch">Click</a>
			</div>
		</div>
	</div>
</div>

<!-- work Section -->
<div id="works">
	<div id="works-content">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-3">Trabalhos</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<a href="" class="btn btn-lg btn-primary btn-custom-ch">Click</a>
			</div>
		</div>
	</div>
</div>

<!-- contact Section -->
<div id="contact">
	<div id="contact-content">
		<div class="row">
			<div class="col-md-6">
				<h2>Entre em contato:</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse voluptas numquam voluptates laborum eos aperiam voluptatibus eum ad cum rem, quos magnam cumque sunt animi ut quia, dolore molestias rerum.</p>
			</div>
			<div class="col-md-6">
				<form action="" method="">
					<label for="">Nome</label>
					<input type="text" placeholder="name">
					<label for="">e-mail</label>
					<input type="e-mail" placeholder="e-mail">
					<label for="">message</label>
					<input type="text" placeholder="message">
					<button> Send! </button>
				</form>
				<form action="" method="">
					<input type="e-mail" placeholder="subscribe">
					<button> Subscribe</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% include partials/footer %>
